<div class="container-fluid">

  <body class="p-3 m-0 border-0 bd-example m-0 border-0">

    <header>

      <div class="d-flex " style="justify-content: center;">
        <div>
          <div class="col-lg-6" style="margin:0px 500px;">
            <h1 style="color:plum">Contact Us</h1>

          </div>
          <div class="col-lg-12" style="margin:0px 400px;">
            <h1 style="color:Black">Customer support centre </h1>
          </div>
        </div>
        <div class="col-lg-6" style="margin:0px 0px;">

          <img
            src="https://purepng.com/public/uploads/large/purepng.com-laptop-notebooklaptopsnotebooknotebook-computerclamshell-1701528354844ktgom.png"
            alt="Laptop Image" class="img-fluid" style="max-width: 100px;">
        </div>
      </div>

    </header>


    <!-- <header>
      <div style="justify-content: center;align-items: center;">
        <h1 style="color:plum">Contact Us</h1>
      </div>

      <div style="justify-content: center;align-items: center;">
        <h1 style="color:Black">Customer support centre </h1>
      </div>

      <div style=max-width:100px;height:auto;margin-left:auto;>
        <img
          src="https://purepng.com/public/uploads/large/purepng.com-laptop-notebooklaptopsnotebooknotebook-computerclamshell-1701528354844ktgom.png"
          alt="Laptop Image" class="img-fluid" style="max-width: 100px;">
      </div>


    </header> -->

    <h1 class="text-center">Contact Information</h1>
    <h6 class="text-center">Please fill out your contact information below.</h6>



    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Name</label>
      <label for="exampleFormControlInput1" class="form-label" style="color: red">*</label>
      <div class="d-flex">
        <input type="text" class="form-control" id="firstname" placeholder="First name" />
        <input type="text" class="form-control" id="lastname" placeholder="Last name" style="margin:0px 30px;" />
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email</label>
      <label for="exampleFormControlInput1" class="form-label" style="color: red">*</label>
      <input type="text" class="form-control" id="firstname" placeholder="Email" />
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Phone</label>
      <label for="exampleFormControlInput1" class="form-label" style="color: red">*</label>
      <input type="text" class="form-control" id="firstname" placeholder="Phone" />
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Address</label>
      <label for="exampleFormControlInput1" class="form-label" style="color: red">*</label>
      <input type="text" class="form-control" id="firstname" placeholder="Address" />
    </div>
  </body>
</div>